* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  border-bottom: 15px solid rgb(35, 160, 35);
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 100px;
  animation: pipe-animation 1.8s infinite linear;
}

.mario {
  width: 180px;
  bottom: 0px;
  position: absolute;
}

.jump {
  animation: jump 500ms ease-out;
}

.clouds {
  position: absolute;
  width: 600px;
  margin-top: 200px;
  animation: clouds-animation 10s infinite linear;
}

.score {
  position: absolute;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 12px;
  color: #ffffff;
  background: linear-gradient(#ac7000, #8a7e19);
  padding: 10px;
  border-radius: 15px;
}

@keyframes clouds-animation {
  from {
    right: -600px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0px;
  }

  40% {
    bottom: 210px;
  }

  50% {
    bottom: 210px;
  }

  60% {
    bottom: 210px;
  }

  100% {
    bottom: 0px;
  }
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}
